<h2>メッセージ一覧</h2>
<% @conversations.each do |conversation| %>
  <% if conversation.target_user(current_user).present? %>
    <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation)%>
  <% end %>
<% end %>
