/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require font-awesome
 */


/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* 追加リセット */
a{
  color: #333;
  text-decoration: none;
}
a:hover{
  background: none;
  text-decoration: none;
  color: #333;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* ========== リセット end ========== */


body{
  background: #E9EBEE;
}
.title{
  font-size: 20px;
  margin: 20px auto;
}
textarea,input{
  border: 1px solid #efefef;
  outline: none;
  appearance: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  border-radius: 2px;
  font-weight: normal;
  outline: none;
}
.cf:after{
  clear: both;
  content: "";
  display: block;
}
h1.rootBtn{
  display: flex;
  align-items: center;
  margin: 2px 7px 0 0;
  font-size: 28px;
}
.header{
  background: #3B5998;
  padding: 0 2%;
  box-sizing: border-box;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__inner{
  width: 1012px;
  margin: auto;
  display: flex;
}
.header a:hover{
  text-decoration: none;
}
h1 a{
  margin: -3px 0 0;
  display: block;
}
.fa-facebook-official{
  color: #fff;
  font-size: 28px;
  line-height: 0;
}
.head-search{
  width: 450px;
}
@media screen and (max-width: 900px){
  .head-search{
    width: 90%;
  }
}
.header .search_box{
  position: relative;
}
.header .search_box button{
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  width: 46px;
  background-color: #f6f7f9;
  background-image: none;
  border: 0;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  display: block;
  padding: 0 16px 0 16px;
}
.accessible_elem{
  display: none;
}
.inputtext{
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 3px 52px 2px 7px;
  width: 100%;
  height: 24px;
  font-size: 14px;
  line-height: 18px;
  font-family: inherit;
  color: #1d2129;
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -webkit-font-smoothing: antialiased;
  border: none;
  border-radius: 3px;
}
.header_left, .header_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_left {
  flex: 1 1 auto;
  justify-content: flex-start;
}
.left_nav_item>a{
  color: #1d2129;
}
.left_nav_item>a{
  color: inherit;
}
.header_right {
  flex: 0 0 auto;
  justify-content: flex-end;
}
.header_right a{
  height: 30px;
}
.header-user{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-user a img{
  width: 24px;
  height: 24px;
  border-radius: 2px;
  margin-right: 2px;
}
.header-user a{
  color: #fff;
  padding:  0 10px;
  font-size: 12px;
  font-family: -apple-system, system-ui, ".SFNSText-Regular", "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
  display: inline-flex;
  align-items: center;
  transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}
.gnav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 0;
  position: relative;
}
.gnav a{
  color: #fff;
  padding:  8px 10px;
  font-size: 12px;
  font-family: -apple-system, system-ui, ".SFNSText-Regular", "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
  position: relative;
  transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}
.gnav a .fa-bell{
  color: #bfbfbf;
}
.header-user a:hover,.gnav a:hover{
  background: #355089;
  color: #fff;
}
.gnav a{
  text-decoration: none;
}
.gnav .navbar-brand{
  border: none;
  padding: 0;
  height: 20px;
}
.gnav .navbar-brand:hover{
  background: none;
}
.gnav .navbar-brand i:hover{
  color: #787878;
}
.gnav-toggle-btn{
  display: none;
  margin-right: 5px;
  color: #fff;
  font-size: 13px;
  line-height: 0;
  border-radius: 3px;
  padding: 12px 10px 15px;
  font-family: -apple-system, system-ui, ".SFNSText-Regular", "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
  transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}
.gnav-toggle-btn>span{
  vertical-align: middle;
}
.gnav-toggle-btn:hover{
  background: #355089;
}
.gnav-popup{
  display: inherit;
}
@media screen and (max-width: 673px){
  .contents{
    width: 100%;
  }
  .header__inner{
    width: 100%;
  }
  .gnav {
    flex: 0 0 auto;
  }
  .gnav-toggle-btn{
    display: inline-block;
  }
  .gnav-popup{
    display: block;
    position: absolute;
    top: 30px;
    left: -20px;
    z-index: 10;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
  }
  .gnav-popup:before{
    position: absolute;
    top: -5px;
    right: 5px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #355089 transparent;
    z-index: 1;
    background-clip: padding-box;
  }
  .gnav-popup:after{
    position: absolute;
    top: -4px;
    right: 6px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #fff transparent;
    z-index: 1;
    background-clip: padding-box;
  }
  .gnav-popup li{
    display: block;
  }
  .gnav-popup a{
    color: #333;
    width: 100%;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
  }
  .gnav-popup a:hover{
    background: none;
    text-decoration: none;
    color: #333;
  }
}


.contents{
  padding-top: 12px;
  font-size: 14px;
  line-height: 19px;
  font-family: "San Francisco", -apple-system, system-ui, ".SFNSText-Regular", "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
  color: #1d2129;
  width: 1024px;
  margin: auto;
  position: relative;
}
.alert{
  opacity: 1;
}
input[type="submit"]{
  background: #4267b2;
  border: none;
  color: #fff;
  font-size: 12px;
  font-family: inherit;
  transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
  line-height: 22px;
  padding: 0 16px;
  vertical-align: baseline;
  margin-top: 30px;
  width: 178px;
}
input[type="submit"]:hover{
  color: #fff;
  background: #355089;
}

form .btn-cancel{
  color: #333;
  background: rgba(235,235,235,0.1);
  border: 1px solid #ccc;
}
form .btn-cancel:hover{
  background: rgba(0,0,0,0.56);
  border-color: transparent;
}



/* ========== モーダル ========== */
.modalBg{
  background: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: opacity .3s, bottom 0s .3s;
  z-index: 3;
}

@media screen and (min-width: 673px){
  .modalWindow{
    height: 300px;
    z-index:3;
    position: relative;
  }
  .editModal{
    min-height: 180px;
  }
}
/* ========== モーダル end ========== */



/* ========== トグル ========== */
@media screen and (max-width: 673px){
  .toggle{
    display: none;
  }
}
/* ========== トグル end ========== */
