// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-content{
  text-align: center;
  line-height: 1.8;
  p{
    margin-bottom: 5px;
    font-size: 16px;
  }
  input{
    padding: 5px 10px;
    width: 350px;
    margin: 0 auto 12px;
  }
  input[type="checkbox"]{
    width: auto;
  }
  input[type="file"]{
    border: none;
  }
  p.user{
    display: inline-block;
  }
  img{
    width: 50px;
    margin-right: 10px;
    display: inline-block;
  }
  .message-user{
    width: 300px;
    margin: auto;
    a{
      display: flex;
      align-items: center;
    }
    img{
      width: 50px;
      margin-right: 50px;
    }
  }
}
.user-article{
  text-align: center;
  margin-bottom: 30px;
  input[type="submit"]{
    margin-top: 10px;
  }
}
.my-page{
  input{
    margin-bottom: 12px;
  }
  input[type="submit"]{
    margin: 0 auto;
  }
  input[type="submit"].btn-cancel{
    margin-top: 12px;
  }
}
